{% load static %}
<!DOCTYPE html>
<html lang="zh-CN">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
      <meta name="description" content="">
      <meta name="author" content="">
      <link rel="icon" href="../../favicon.ico">

      <title>Test Manage System</title>
      <style>
          div{

          }
      </style>
      <!-- Bootstrap core CSS -->
      <link href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
{#      <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">#}
      <!-- Custom styles for this template -->
      <link href="//v3.bootcss.com/examples/theme/theme.css" rel="stylesheet">
  </head>

  <body>

    <!-- 导航栏 -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/testproject_manage/">Test Manage System</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/testproject_manage/">Test Project</a></li>
            <li><a href="/testsuit_manage/">Test Suit</a></li>
            <li><a href="/testcase_manage/">Test Case</a></li>
            <li><a href="/help_document/">Help</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
           <li><a href="#">{{user}}</a></li>
           <li><a href="/logout/">Logout</a></li>
         </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
  {% block content %}


  {% endblock %}
    <div class="container theme-showcase" role="main">

        <div class="page-header">
        </div>
        <footer class="footer">
          <p>&copy; DZH {% now 'Y M,d ' %}   Author: Eason</p>
        </footer>

    </div> <!-- /container -->

  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
  <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  </body>

</html>
