{% extends "polls/base.html" %}
{% block content %}

    <div class="container" role="main">
        <div class="page-header">
            <!--case 表单-->
            <div class="container">
                <div id="add" style="float: left;">
                    <form class="form-inline" method="get" action="/testcase/add">
                        <div class="form-group">
                            <label class="sr-only" for="name">名称</label>
                            <input name="casefilepath" type="text" class="form-control" id="name" placeholder="请输入名称">
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="inputfile">文件输入</label>
                            <input type="file" id="inputfile">
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox">请打勾
                            </label>
                        </div>
                        <button type="submit" class="btn btn-primary">Add</button>
                    </form>
                </div>
                <!-- 搜索功能-->
                <div id="search" style="float: right">
                    <form class="form-inline" method="get" action="/search_case">
                        <div class="form-group">
                            <input name="phone" type="text" placeholder="Case Name" class="form-control">
                        </div>
                        <button type="submit" class="btn btn-success">搜索</button>
                    </form>
                </div>
                <!--/.navbar-collapse -->
            </div>
        </div>

        <!--列表显示 -->
        <div class="container" style="overflow-wrap: break-word">
            <table class="table table-strip table-hover">
                <colgroup>
                    <col style="width: 35px"></col>
                    <col></col>
                    <col></col>
                    <col style="width: 60px"></col>
                    <col></col>
                    <col style="width: 30%"></col>
                    <col style="width: 30%"></col>
                    <col style="width: 80px"></col>
                    <col style="width: 80px"></col>
                </colgroup>
                <thead>
                <tr>
                    <th>id</th>
                    <th>组件</th>
                    <th>名称</th>
                    <th>状态</th>
                    <th>path</th>
                    <th>param</th>
                    <th>期望结果</th>
                    <th>实际结果</th>
                    <th>执行</th>
                </tr>
                </thead>
                <tbody>
                {% for tc in testcases %}
                    <tr>
                        <td>{{ tc.id }}</td>
                        <td>{{ tc.test_suit }}</td>
                        <td data-toggle="tooltip" title="{{ tc.name }}">{{ tc.name }}</td>
                        <td>{{ tc.is_enable }}</td>
                        <td data-toggle="tooltip" title="{{ tc.url_path }}">{{ tc.url_path }}</td>
                        <td data-toggle="tooltip" title="{{ tc.url_param }}">{{ tc.url_param }}</td>
                        <td data-toggle="tooltip" title="{{ tc.expected_result }}">{{ tc.expected_result }}</td>
                        <td data-toggle="tooltip" title="More details after executing case">
                            <a id="report_{{ tc.id }}" target="_blank">Null</a>
                        </td>
                        <td>
                            <button id="fat-btn{{ tc.id }}" class="btn btn-primary" data-loading-text="Loading..."
                                    type="button" onclick="loadXMLDoc({{ tc.id }})"> 执行
                            </button>
                            <script type="text/javascript">
                                function loadXMLDoc(tcid) {

                                    exec_button = document.getElementById("fat-btn" + tcid);
                                    report_button = document.getElementById("report_" + tcid);
                                    exec_button.innerHTML = "执行中...";
                                    var xmlhttp;
                                    if (window.XMLHttpRequest) {// code for IE7+, Firefox, Chrome, Opera, Safari
                                        xmlhttp = new XMLHttpRequest();
                                    }
                                    else {// code for IE6, IE5
                                        xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
                                    }

                                    function request(tcid, exec_button, report_button) {
                                        var temptcid = tcid;
                                        var button = exec_button;
                                        return function () {
                                            xmlhttp.open("GET", "/execute_case/" + temptcid, true);
                                            xmlhttp.send();
                                            //alert(xmlhttp.readyState + "\n" + xmlhttp.status);
                                            xmlhttp.onreadystatechange = function () {

                                                if (xmlhttp.readyState === 4 && xmlhttp.status === 200) {
                                                    if (xmlhttp.responseText === "True") {
                                                        button.className = "btn btn-success";
                                                    }
                                                    if (xmlhttp.responseText === "False") {
                                                        button.className = "btn btn-danger";
                                                    }
                                                    button.innerHTML = xmlhttp.responseText;
                                                    report_button.innerHTML = "Detail";
                                                    report_button.setAttribute("href", "/execute_case/detail/" + temptcid);
                                                }
                                            };
                                        }
                                    }

                                    var req = request(tcid, exec_button, report_button);
                                    req();

                                }
                            </script>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <!-- 列表分页器 -->
        <div class="pagination">
      <span class="step-links">
        {% if guests.has_previous %}
            <a href="?phone={{ phone }}&page={{ guests.previous_page_number }}">previous</a>
        {% endif %}
          <span class="current">
            Page {{ guests.number }} of {{ guests.paginator.num_pages }}.
          </span>
          {% if guests.has_next %}
              {% if phone %}
                  <a href="?phone={{ phone }}&page={{ guests.next_page_number }}">next</a>
              {% else %}
                  <a href="?page={{ guests.next_page_number }}">next</a>
              {% endif %}
          {% endif %}
      </span>
        </div>

{% endblock %}