{% extends "polls/base.html" %}
{% block content %}

    <div class="container theme-showcase" role="main">

        <!--case 表单-->
        <div class="page-header">
            <!-- 搜索功能-->
            <div id="navbar" class="navbar-collapse collapse" align="right">
                <form class="navbar-form" method="get" action="/search_case/">
                    <div class="form-group">
                        <input name="phone" type="text" placeholder="Case Name" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-success">搜索</button>
                </form>
            </div><!--/.navbar-collapse -->
        </div>

        <!--列表显示 -->
        <div style="overflow-wrap: break-word">
            <table class="table table-strip table-hover">
                <colgroup>
                    <col style="width: 30px"></col>
                    <col></col>
                    <col></col>
                    <col style="width: 60px"></col>
                    <col></col>
                    <col style="width: 30%"></col>
                    <col style="width: 30%"></col>
                    <col style="width: 80px"></col>
                    <col style="width: 65px"></col>
                </colgroup>
                <thead>
                <tr>
                    <th>id</th>
                    <th>组件</th>
                    <th>名称</th>
                    <th>状态</th>
                    <th>path</th>
                    <th>param</th>
                    <th>期望结果</th>
                    <th>实际结果</th>
                    <th>执行</th>
                </tr>
                </thead>
                <tbody>
                {% for tc in testcases %}
                    <tr>
                        <td>{{ tc.id }}</td>
                        <td>{{ tc.test_suit }}</td>
                        <td>{{ tc.name }}</td>
                        <td>{{ tc.is_enable }}</td>
                        <td data-toggle="tooltip" title="{{ tc.url_path }}">{{ tc.url_path }}</td>
                        <td data-toggle="tooltip" title="{{ tc.url_param }}">{{ tc.url_param }}</td>
                        <td data-toggle="tooltip" title="{{ tc.expected_result }}">{{ tc.expected_result }}</td>
                        <td data-toggle="tooltip" title="More details after executing case">
                            <a id="report_{{ tc.id }}" target="_blank">Null</a>
                        </td>
                        <td>
                            <button id="fat-btn{{ tc.id }}" class="btn btn-primary" data-loading-text="Loading..."
                                    type="button" onclick="loadXMLDoc({{ tc.id }})"> 执行
                            </button>
                            <script type="text/javascript">
                                function loadXMLDoc(tcid) {

                                    exec_button = document.getElementById("fat-btn" + tcid);
                                    report_button = document.getElementById("report_" + tcid);
                                    exec_button.innerHTML = "执行中...";
                                    var xmlhttp;
                                    if (window.XMLHttpRequest) {// code for IE7+, Firefox, Chrome, Opera, Safari
                                        xmlhttp = new XMLHttpRequest();
                                    }
                                    else {// code for IE6, IE5
                                        xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
                                    }

                                    function request(tcid, exec_button, report_button) {
                                        var temptcid = tcid;
                                        var button = exec_button;
                                        return function () {
                                            xmlhttp.open("GET", "/execute_case/" + temptcid, true);
                                            xmlhttp.send();
                                            //alert(xmlhttp.readyState + "\n" + xmlhttp.status);
                                            xmlhttp.onreadystatechange = function () {

                                                if (xmlhttp.readyState === 4 && xmlhttp.status === 200) {
                                                    if (xmlhttp.responseText === "True") {
                                                        button.className = "btn btn-success";
                                                    }
                                                    if (xmlhttp.responseText === "False") {
                                                        button.className = "btn btn-danger";
                                                    }
                                                    button.innerHTML = xmlhttp.responseText;
                                                    report_button.innerHTML = "Detail";
                                                    report_button.setAttribute("href", "/execute_case/detail/" + temptcid);
                                                }
                                            };
                                        }
                                    }

                                    var req = request(tcid, exec_button, report_button);
                                    req();

                                }
                            </script>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <!-- 列表分页器 -->
        <div class="pagination">
      <span class="step-links">
        {% if guests.has_previous %}
            <a href="?phone={{ phone }}&page={{ guests.previous_page_number }}">previous</a>
        {% endif %}
          <span class="current">
            Page {{ guests.number }} of {{ guests.paginator.num_pages }}.
          </span>
          {% if guests.has_next %}
              {% if phone %}
                  <a href="?phone={{ phone }}&page={{ guests.next_page_number }}">next</a>
              {% else %}
                  <a href="?page={{ guests.next_page_number }}">next</a>
              {% endif %}
          {% endif %}
      </span>
        </div>

{% endblock %}