{% extends "base.html" %}
{% block content %}

    <div class="container" role="main">
        <h1>Add TestCase</h1>
        <form class="form" method="post" action="/testcase/post/add">
            {% csrf_token %}
            {#            <fieldset>#}
            <div class="row">
                <label class="col-md-2">Test Suit:</label>
                <div class="col-md-2">
                    {{ form.test_suit }}
                </div>
            </div>
            <div class="row">
                <label class="col-sm-2 control-label">Name:</label>
                <div class="col-sm-2 controls">
                    {{ form.name }}
                </div>
            </div>
            <div class="row">
                <label class="col-sm-2 control-label">Is enable</label>
                <div class="col-sm-2 controls">
                    {{ form.is_enable }}
                </div>
            </div>
            <div class="row">
                <!-- Text input-->
                <label class="col-sm-2 control-label">Url path:</label>
                <div class="col-sm-2 controls">
                    {#                        <input name="urlPathText" type="text" placeholder="" class="input-group" style="width: 200px">#}
                    {#                        <p class="help-block">like"/token/acess"</p>#}
                    {{ form.url_path }}

                </div>
            </div>
            <div class="row">
                <!-- Textarea -->
                <label class="col-sm-2 control-label">Url param:</label>
                <div class="col-sm-2 controls">
                    {#                    <div class="textarea">#}
                    {#                        <textarea name="urlParamText" type="" class="" style="width: 200px;height: 200px">{}</textarea>#}
                    {#                    </div>#}
                    {{ form.url_param }}
                </div>
            </div>
            <div class="row">
                <!-- Textarea -->
                <label class="col-sm-2 control-label">Real Result:</label>
                <div class="col-sm-2 controls">
                    {#                    <div class="textarea">#}
                    {#                        <textarea name="realResultTextArea" type="" class=""#}
                    {#                                  style="width: 400px;height: 500px">{}</textarea>#}
                    {#                    </div>#}
                    {{ form.real_Result }}
                </div>
            </div>
            <div class="row">
                <!-- Textarea -->
                <label class="col-sm-2 control-label">Expected result:</label>
                <div class="col-sm-2 controls">
                    {#                    <div class="textarea">#}
                    {#                        <textarea name="expectedResultTextArea" type="" class=""#}
                    {#                                  style="width: 400px;height: 500px">{}</textarea>#}
                    {#                    </div>#}
                    {{ form.expected_result }}
                </div>
            </div>
            <div class="row">
                <label class="col-sm-2 control-label">Pass or fail</label>
                <div class="col-sm-2 controls">
                    <!-- Multiple Checkboxes -->
                    {#                    <label class="checkbox">#}
                    {#                        <input name="passOrFailCheckBox" type="checkbox" value="Pass or fail">#}
                    {#                        Pass or fail#}
                    {#                    </label>#}
                    {{ form.pass_or_fail }}
                </div>
            </div>
            <div class="row">
                <label class="col-sm-2 control-label">Description:</label>
                <div class="col-sm-2 controls">
                    {#                    <input name="descriptionText" type="text" placeholder="description" class="input-group"#}
                    {#                           style="width: 200px">#}
                    {#                    <p class="help-block"></p>#}
                    {{ form.description }}
                </div>
            </div>
            <div class="row">
                <label class="col-sm-2 control-label">On going</label>
                <div class="col-sm-2 controls">
                    {#                    <!-- Multiple Checkboxes -->#}
                    {#                    <label class="checkbox">#}
                    {#                        <input name="onGoingCheckBox" type="checkbox" value="On going">#}
                    {#                        On going#}
                    {#                    </label>#}
                    {{ form.on_going }}
                </div>
            </div>
            <div class="row">
                <label class="col-sm-2 control-label">Url:</label>
                {#                <div class="controls">#}
                {#                    <input name="urlText" type="text" placeholder="Url" class="input-group" style="width: 200px">#}
                {#                </div>#}
                <div class="col-sm-2 control">
                    {{ form.url }}
                </div>
            </div>
            <button type="submit" class="btn btn-primary">提交</button>
            {#            </fieldset>#}
        </form>
    </div>

{% endblock %}