{% extends "polls/base.html" %}
{% block content %}

    <div class="container theme-showcase" role="main">

      <!--case 表单-->
      <div class="page-header">
        <!-- 搜索功能-->
        <div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form" method="get" action="/search_phone/">
            <div class="form-group">
              <input name="phone" type="text" placeholder="Case Name" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">搜索</button>
          </form>
        </div><!--/.navbar-collapse -->
      </div>

      <!--列表显示 -->
      <div class="row">
        <div class="col-md-9">
          <table class="table table>
            <thead>
              <colgroup>
                <col></col>
                <col></col>
                <col></col>
                <col></col>
                <col width="20%"></col>
                <col width="20%"></col>
                <col></col>
                <col></col>
                <col></col>
              </colgroup>
              <tr>
                <th>id</th>
                <th>组件</th>
                <th>名称</th>
                <th>状态</th>
                <th>path</th>
                <th>param</th>
                <th>最后修改时间</th>
                <th>描述</th>
                <th>执行</th>
              </tr>
            </thead>
            <tbody>
                {% for tc in testcases %}
                <tr>
                    <form method="get" action="/execute_case/{{ tc.id }}">
                      <td style="width: 80px">{{ tc.id }}</td>
                      <td style="width: 80px">{{ tc.test_suit }}</td>
                      <td style="width: 80px">{{ tc.name }}</td>
                      <td style="width: 80px">{{ tc.is_enable }}</td>
                      <td style="width: 80px">{{ tc.url_path }}</td>
                      <td style="width: 80px">{{ tc.url_param }}</td>
                      <td style="width: 80px">{{ tc.last_modified }}</td>
                      <td style="width: 80px">{{ tc.description }}</td>
                      <td>
                          <p>
                            <button id="fat-btn" class="btn btn-primary" type="submit">执行用例</button>
                          </p>
                      </td>
                    </form>
                </tr>
                {% endfor %}
            </tbody>
          </table>
        </div>
      </div>

      <!-- 列表分页器 -->
    <div class="pagination">
      <span class="step-links">
        {% if guests.has_previous %}
          <a href="?phone={{ phone }}&page={{ guests.previous_page_number }}">previous</a>
        {% endif %}
          <span class="current">
            Page {{ guests.number }} of {{ guests.paginator.num_pages }}.
          </span>
        {% if guests.has_next %}
          {% if phone %}
            <a href="?phone={{ phone }}&page={{ guests.next_page_number }}">next</a>
          {% else %}
           <a href="?page={{ guests.next_page_number }}">next</a>
          {% endif %}
        {% endif %}
      </span>
    </div>

{% endblock %}