{% extends "polls/base.html" %}
{% block content %}

    <div class="container" role="main">
        <h1>Add TestCase</h1>
        <form class="form" method="post" action="/testcase/post/add">
            {% csrf_token %}
{#            <fieldset>#}
                <div class="form-group">
                    <label class="col-sm-2 control-label">Test Suit:</label>
                    <select name="suitSelect" class="form-control" style="width:200px;">
                        <option>suit1</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Name:</label>
                    <div class="controls">
                        <input name="nameText" type="text" placeholder="case name" class="input-group" style="width: 200px">
                        <p class="help-block"></p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label"></label>
                    <div class="controls">
                        <!-- Multiple Checkboxes -->
                        <label class="checkbox">
                            <input name="isEnableCheckBox" type="checkbox" value="Is enable">
                            Is enable
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <!-- Text input-->
                    <label class="col-sm-2 control-label" for="input01">Url path:</label>
                    <div class="controls">
                        <input name="urlPathText" type="text" placeholder="" class="input-group" style="width: 200px">
{#                        <p class="help-block">like"/token/acess"</p>#}
                    </div>
                </div>
                <div class="form-group">
                    <!-- Textarea -->
                    <label class="col-sm-2 control-label">Url param:</label>
                    <div class="controls">
                        <div class="textarea">
                            <textarea name="urlParamText" type="" class="" style="width: 200px;height: 200px">{}</textarea>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <!-- Textarea -->
                    <label class="col-sm-2 control-label">Real Result:</label>
                    <div class="controls">
                        <div class="textarea">
                            <textarea name="realResultTextArea" type="" class="" style="width: 400px;height: 500px">{}</textarea>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <!-- Textarea -->
                    <label class="col-sm-2 control-label">Expected result:</label>
                    <div class="controls">
                        <div class="textarea">
                            <textarea name="expectedResultTextArea" type="" class="" style="width: 400px;height: 500px">{}</textarea>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label"></label>
                    <div class="controls">
                        <!-- Multiple Checkboxes -->
                        <label class="checkbox">
                            <input name="passOrFailCheckBox" type="checkbox" value="Pass or fail">
                            Pass or fail
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Description:</label>
                    <div class="controls">
                        <input name="descriptionText" type="text" placeholder="description" class="input-group" style="width: 200px">
                        <p class="help-block"></p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label"></label>
                    <div class="controls">
                        <!-- Multiple Checkboxes -->
                        <label class="checkbox">
                            <input name="onGoingCheckBox" type="checkbox" value="On going">
                            On going
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Url:</label>
                    <div class="controls">
                        <input name="urlText" type="text" placeholder="Url" class="input-group" style="width: 200px">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">提交</button>
{#            </fieldset>#}
        </form>
    </div>

{% endblock %}