{% extends "polls/base.html" %}
{% block content %}



    <div class="container theme-showcase" role="main">
      <!--test project表单-->
      <div class="page-header">
        <div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form" method="get" action="/search_project_name/">
            <div class="form-group">
              <input name="name" type="text" placeholder="名称" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">搜索</button>
          </form>
        </div><!--/.navbar-collapse -->
      </div>

      <div class="row">
        <div class="col-md-6">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>id</th>
                <th>名称</th>
                <th>状态</th>
                <th style="width: 100px;">测试组</th>
                <th style="width: 160px;">最后修改时间</th>
                <th style="width: 100px;">负责人</th>
                <th style="width: 100px;">描述</th>
              </tr>
            </thead>
            <tbody>
              {% for tp in testprojects %}
                <tr>
                  <td>{{ tp.id }}</td>
                  <td><a href="/sign_index/{{ event.id }}/"  target="{{ event.id }}_blank">{{ tp.name }}</a></td>
                  <td>{{ tp.is_enable }}</td>
                  <td>{{ tp.suit_number }}</td>
                  <td>{{ tp.last_modified }}</td>
                  <td>{{ tp.owner }}</td>
                  <td>{{ tp.description }}</td>
                </tr>
             {% endfor %}
            </tbody>
          </table>
        </div>

      </div>

{% endblock %}
